body {
  box-sizing: border-box;
  margin: auto;
  background-image: url('../asset/images/jigsaw-puzzle.jpg');
}
.title {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
  margin: 0 auto;
  padding: 10px;
  background-color: lightseagreen;
  text-align: center;
  align-items: center;
}

h2,
h3 {
  background-color: blueviolet;
  color: whitesmoke;
}
